.container {
  margin-top: 0px;
  margin-bottom: 12px;

  @media screen and (max-width: 1400px) {
    margin-top: 120px;
    margin-bottom: 54px;
  }

  @media screen and (max-width: 991px) {
    margin-top: 80px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 54px;
    margin-bottom: 44px;
  }
}

.sectionBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 1400px) {
    height: 983px;
  }

  @media screen and (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.imgContainer {
  position: relative;

  @media screen and (min-width: 1400px) {
    width: 50%;
    height: 100%;
    border-left: 1px solid black;
  }

  img {
    width: 100%;
    max-height: 875px;
    object-fit: cover;

    @media screen and (min-width: 1400px) {
      max-height: 1000px;
      height: 100%;
      padding: 54px 14px;
    }
  }
}

.description {
  color: var(--color-font-primary);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  margin: 0 auto;

  @media screen and (min-width: 1400px) {
    width: 43%;
    text-align: left;
    align-items: flex-start;
    margin-left: 160px;
  }

  @media screen and (max-width: 1400px) {
    margin-bottom: 120px;
  }

  @media screen and (max-width: 991px) {
    max-width: 633px;
    margin-bottom: 80px;
  }
  @media screen and (max-width: 767px) {
    max-width: 739px;

    margin-bottom: 54px;

    align-items: flex-start;
    text-align: left;
  }
}

.title {
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  max-width: 637px;

  @media screen and (max-width: 1400px) {
  }

  @media screen and (max-width: 991px) {
    font-size: 48px;
    line-height: 58px;
  }

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 50px;
  }
}

.descriptionText {
  font-size: 32px;
  font-weight: 400;
  line-height: 52px;

  @media screen and (max-width: 1400px) {
  }

  @media screen and (max-width: 991px) {
    font-size: 24px;
    line-height: 44px;
  }

  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 40px;
  }
}

.button {
  padding: 10px 47px;

  font-size: 24px;

  @media screen and (max-width: 1400px) {
    padding: 10px 52px;
  }

  @media screen and (max-width: 991px) {
    padding: 10px 50px;
    font-size: 18x;
  }
  @media screen and (max-width: 767px) {
    padding: 10px 30px;
  }
}
